.build
.settings
.buildpath
.project
LICENSE
README.*
UPGRADE*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Bootstrap
app/bootstrap*
