{% extends '::adminhomebase.html.twig' %}


{% block admin_content %}

<div class="dashboard_container">

	<div class="dashboard_left">
	<div class="fieldset">
		<div class="legend">At a Glance</div>
		
		<div class="large">
			<p class="left">Users:</p>
			<p class="right"><a href="http://iroking.com/admin/users">38 Registered</a></p>
		</div>		

		<br style="clear:both;">
	</div>



    <div class="fieldset">
		<div class="legend">Recently Registered Users</div>
		<table cellspacing="0" cellpadding="0" border="0" class="admin">
			<thead>
				<tr>
			        <th width="20" align="center">Active</th>
			        <th>Email</th>
			        <th>Signed up</th>
			        <th>Last sign in</th>
			        <th width="200">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
			        <td align="center"><img alt="" src="http://iroking.com/assets/a/images/green-dot.png"></td>
					<td>hsabiti@yahoo.com</td>
					<td>2011-12-14 13:55:07</td>
					<td>2011-12-14 13:55:07</td>
					<td>
			           	<a class="button edit" href="http://iroking.com/admin/users/edit/47"><span><span>Edit</span></span></a>
						<a class="button delete" href="http://iroking.com/admin/users/delete/47"><span><span>Delete</span></span></a>
					</td> 
			    </tr>
			</tbody>
		</table>
	</div>







	</div>
	<div class="dashboard_right">
		<div class="fieldset">
			<div class="legend">Quick Links</div>
			<ul class="large">
			{{ knp_menu_render('admin_side', {'template':'AdminBundle:Menu:knp_menu.html.twig'}) }}

			</ul>
		</div>
	</div>

</div>

Hello Dashboard {{ name }}!

{% endblock %}
