{% extends '::adminhomebase.html.twig' %}


{% block admin_content %}

<div class="dashboard_container">

	<div class="dashboard_left">
	


    <div class="fieldset">	
		<div class="legend">{% trans %} users.edit_profile {% endtrans %}</div>
		<form action="" method="POST" {{ form_enctype(form) }}>
			<div style="border: solid 1px red">	
				{{ form_widget(form.user.profile) }}
			</div>
			<div style="border: solid 1px green">
			{{ form_widget(form.user) }}
			</div>
			


		<input type="submit">
		</form>
		<p> Disallowed functionality for now, only users should be able to modify thier own account</p>

		</div>





	</div>

	<div class="dashboard_right">
		<div class="fieldset">
			<div class="legend">Quick Links</div>
			<ul class="large">
			{{ knp_menu_render('admin_admins', {'template':'AdminBundle:Menu:knp_menu.html.twig'}) }}

			</ul>
		</div>
	</div>

</div>


{% endblock %}
