{% extends '::adminhomebase.html.twig' %}


{% block admin_content %}

<div class="dashboard_container">

	<div class="dashboard_left">
	<div class="fieldset">
		<div class="legend">{%trans%}dashboard.at_a_glance{%endtrans%}</div>
		
		<div class="large">
			<p class="left">{%trans%}dashboard.users{%endtrans%}</p>
			<p class="right"><a href="/admin/users/list">38 {%trans%}dashboard.registered{%endtrans%}</a></p>
		</div>		

		<br style="clear:both;">
	</div>



    <div class="fieldset">
		<div class="legend">{%trans%}dashboard.recently_registered_users{%endtrans%}</div>
		<table cellspacing="0" cellpadding="0" border="0" class="admin">
			<thead>
				<tr>
			        <th width="20" align="center">{%trans%}dashboard.active{%endtrans%}</th>
			        <th>{%trans%}dashboard.email{%endtrans%}</th>
			        <th>{%trans%}dashboard.signedup{%endtrans%}</th>
			        <th>{%trans%}dashboard.last_login{%endtrans%}</th>
			        <th width="200">{%trans%}dashboard.actions{%endtrans%}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
			        <td align="center"><img alt="" src="/bundles/admin/images/green-dot.png"></td>
					<td>hsabiti@yahoo.com</td>
					<td>2011-12-14 13:55:07</td>
					<td>2011-12-14 13:55:07</td>
					<td>
			           	<a class="button edit" href="http://iroking.com/admin/users/edit/47"><span><span>{%trans%}dashboard.edit{%endtrans%}</span></span></a>
					<a class="button delete" href="http://iroking.com/admin/users/delete/47"><span><span>{%trans%}dashboard.delete{%endtrans%}</span></span></a>
					</td> 
			    </tr>
			</tbody>
		</table>
	</div>







	</div>
	<div class="dashboard_right">
		<div class="fieldset">
			<div class="legend">{%trans%} dashboard.quick_links {%endtrans%}</div>
			<ul class="large">
			{{ knp_menu_render('admin_dashboard', {'template':'AdminBundle:Menu:knp_menu.html.twig'}) }}

			</ul>
		</div>
	</div>

</div>

Hello Dashboard {{ name }}!

{% endblock %}
